    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    :root{
        --primary-color: #fff !important;
        --shadow-color: #00ff62 !important;
        --important-color: #4891FF !important;
    }
    body{
        height: 100vh;
        padding: 1rem 3rem 3rem 3rem;
        color: aliceblue;
    }
    ul{
        display: flex;
        list-style: none;
    }
    li{
        margin-right: 10%;
        font-weight: 600;
    }
    #lgnBtn{
        border: none !important;
        background-color: var(--primary-color);
    }
    #lgnBtn:hover{
        box-shadow: 5px 5px 5px var(--shadow-color);
    }
    .fpcontentpage{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: 100%;
        gap: 10px;
    }
    #Hero{
        font-weight: bold;
        font-size: 40px;
    }
    #parag{
        font-size: 16px;
        font-weight: 600;
    }

    .downloadbtn button{
        border: none;
    }
    #iosbtn{
        background-color: var(--primary-color);
    }
    #androidbtn{
        background-color: var(--important-color);
    }